.main-box {
  margin: auto;
  border: 5px solid #7070701A;
  border-radius: 10px;
  border-color: #000;
  max-width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.button-box {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

button {
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fffff0;
  width: 45%;
  font-size: 20px;
}

.button:hover {
  border-color: #0000ff;
}

#timer {
  border: 2px solid #7070701A;
  border-radius: 10px;
  border-color: #808080;
  background-color: #dcdcdc;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
}
